.item {
  width: 245px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
.item p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 6px 0px;
}
.item-prices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.item-price-new {
  padding: 3px;
  border-radius: 3px;
  color: #df1a1a;
  font-size: 18px;
  font-weight: 600;
}
.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}
.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
.item img {
  border: 1px solid red;
  border-radius: 3px;
  width: 100%;
  height: 250px;
}
.item p {
  width: 100%;
}
